@import 'variables';


:root{
    --fontsize-xxs: clamp(1rem, 0.1vw + 0.9rem, 1rem);
    --fontsize-xs: clamp(1.2rem, 0.1vw + 1.2rem, 1.3rem);
    --fontsize-sm: clamp(1.3rem, 0.1vw + 1.2rem, 1.4rem);
    --fontsize-base: clamp(1.5rem, 0.2vw + 1.4rem, 1.6rem);
    --fontsize-md: clamp(1.7rem, 0.2vw + 1.8rem, 1.8rem);
    --fontsize-lg: clamp(2.3rem, 0.3vw + 2.2rem, 2.5rem);
    --fontsize-xl: clamp(2.9rem, 0.3vw + 2.8rem, 3.1rem);
    --fontsize-xxl: clamp(3.7rem, 0.4vw + 3.5rem, 3.9rem);
}


*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: calc(var(--font-body-scale) * 62.5%);
  height: 100%;
  overflow-x: hidden;
}

body {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 100%;
  overflow-x: hidden;
  min-height: 100%;
  margin: 0;
  font-size: 1.5rem;
  letter-spacing: 0.06rem;
  line-height: calc(1 + 0.8 / var(--font-body-scale));
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);
  color: rgb(var(--color-foreground));
  background-color: rgb(var(--color-background));
}

@media screen and (min-width: 750px) {
  body {
    font-size: 1.6rem;
  }
}


body.home .main{
	z-index:2;
}


// === Typography

a,
.customer a,
.link,
.hover-link,
.underlined-link { 
  display: inline-flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  outline: none;
  color: rgb(var(--color-link));
  text-decoration:none;
  background: transparent;
  border: 0;
  box-shadow: none;
  font-family: inherit;
  font-size: inherit;
  transition: all .3s linear;
  text-underline-offset: unset;

  &:hover,
  &:active{
    text-decoration:none;
  }  
}

.hover-link{
    padding-bottom: .5rem;
    color: rgb(var(--color-link));
  
    &::before {
      content: '';
      position: absolute;
      background-color: currentColor;
      z-index: 1;
      height: 1px;
      width: 0%;
      left: 0;
      bottom: 2px;
      transition: width ease 0.4s;
    }
  
    &:hover{
      &::before {
        width: 100%;
      }
    }
}

.underlined-link{ 
  padding-bottom: .5rem;

  &::before {
    content: '';
    position: absolute;
    background-color:currentColor;
    z-index: 1;
    height: 2px;
    width: 0%;
    left: 0;
    bottom: 2px;
    transition: width ease 0.4s;
  }
  &::after {
    content: '';
    position: absolute;
    background-color: currentColor;
    z-index: 1;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 2px;
    transition: all ease 0.6s;
  }

  &:hover{
    text-decoration:none;
    
    &::before {
      width: 100%;
    }

    &::after {
      left: 100%;
      width: 0%;
      transition: all ease 0.2s;
    }
  }
}


.fontstack1{
    font-family: var(--font-body-family) !important;
}
.fontstack2{
    font-family: var(--font-heading-family) !important;
}
.fontstack3{
    font-family: var(--font-heading1-family) !important;
}

.bold{
  font-weight:600 !important;
}

.text-primary{
  color:rgb(var(--color-primary)) !important;
}
.text-secondary{
  color:rgb(var(--color-secondary)) !important;
}

// === General

.custom-scrollbars * {
	-ms-overflow-style: -ms-autohiding-scrollbar;
	scrollbar-width: thin;
	scrollbar-color: var(--scrollbarColor);
}


.dismiss{
    --dismiss-background: var(--white);

    cursor: pointer;
    width: 30px;
    height: 30px;
    position: relative;
    opacity:0;
    visibility:hidden;
    display:flex;
    align-items:center;
    
  
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 22px;
      height: 1px;
      margin-top: -1px;
      background-color: rgb(var(--color-foreground));
      transition: all .3s ease;
    }
    &::before {
      transform-origin: 50% 50%;
      transform: rotate(-45deg);
    }
    &::after {
      transform-origin: 50% 50%;
      transform: rotate(45deg);
    }
  
    &:hover, 
    &:focus {
      border: none;
      outline: 0;
  
      &::before, 
      &::after {
        transform: rotate(0);
      }
    }
  
    &--right{
      position:absolute;
      right:2rem;
      top:1rem;
      
      span {
        transform: translateX(-65px);
      }
    }
    
    &--left{
      span {
        transform: translateX(65px);
      }
    }
    
    span {
      position: absolute;
      cursor: pointer;
      font-size: var(--fontsize-xs);
      text-transform: uppercase;
      font-family: var(--fontstack1);
      font-style: normal;
      font-weight: 500;
      letter-spacing: calc(var(--font-heading-scale) * .2rem);
      color: rgba(var(--color-foreground), 0.75);
      line-height: calc(1 + 0.3 / max(1, var(--font-heading-scale)));
      
    }
  
    &--circle{
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      background: rgb(var(--dismiss-background));
      box-shadow: 0 2px 59px #0006;
  
      &::before,
      &::after {
        width: 14px;
      }
    }
  
    &--xs{
      width: 20px;
      height: 20px;
  
      &::before,
      &::after {
        width: 10px;
      }
    }
    
    &--sm{
      width: 24px;
      height: 24px;
  
      &::before,
      &::after {
        width: 14px;
      }
    }
  }
  
  .shown {
    .dismiss {
      opacity: 1;
      visibility:visible;
    }
  }

 .centered {
 	padding: 0;
 	width: 100%;

 	@include MQ-min(L) {
 		margin: 0 auto;
 		max-width: 1345px !important;

 		&--slim {
 			max-width: 1010px !important;
 		}
 		&--narrow {
			max-width: 1150px !important;
 		}
		&--wide {
 			max-width: 1440px !important;
 		}
 	}

 	@include MQ-max(M) {
 		padding: 0 2.4rem;
 	} 
 }



.page-width {
  padding: 0;
	width: 100%;

  @include MQ-max(L) {
		padding: 0 2.4rem;
	} 

  @include MQ-min(L) {
		margin: 0 auto;
    max-width: var(--layout-width) !important;

		&-width-tablet {
			max-width: 1010px !important;
		}
		&-width--narrow {
			max-width: 1150px !important;
		}
		&-width-desktop {
      max-width: var(--layout-width) !important;
		}
	}
}


.mt-1 {
  margin-top: 1rem;
}
.mb-1 {
  margin-bottom: 1rem;
}


.mt-15 {
  margin-top: 1.5rem;
}
.mb-15 {
  margin-bottom: 1.5rem;
}

.mt-2 {
  margin-top: 2rem;
}
.mb-2 {
  margin-bottom: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}
.mb-3 {
  margin-bottom: 3rem;
}

.mt-5 {
  margin-top: 5rem;
}
.mb-5 {
  margin-bottom: 5rem;
}

.pt-5 {
  padding-top: 5rem;
}
.pb-5 {
  padding-bottom: 5rem;
}
.pt-3 {
  padding-top: 3rem;
}
.pb-3 {
  padding-bottom: 3rem;
}

.justify-content-start{
    justify-content: flex-start !important;
}
.justify-content-center{
    justify-content: center !important;
}

.justify-content-end{
    justify-content: flex-end !important;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

// === Scroll to top

.to-top {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 70px;
  right: 30px;
  z-index: 94;
  width: 40px;
  height: 40px;
  cursor: pointer;
  color: rgb(var(--offwhite));
  background-color: rgb(var(--color-primary));
    
  svg{
    width:20px;
    height:20px;    
  }
}

// === Buttons

:root {
  --button-background: transparent;
  --button-foreground: inherit;
  --button-border: transparent;
  --button-font-size: var(--fontsize-sm);
  --button-font-weight: 300;
  --button-font-family: var(--fontstack1);
}

.btn,
.btn-outline,
.btn-framed,
.btn-dashed {  
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: 0.5rem;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  user-select: none;
  -webkit-appearance: none;
  appearance: none;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  border-radius: 0;
  box-shadow: none;
  transform: scale(1);
  transition: 0.3s ease-out;
  outline: none;
  border: 1px solid transparent;
  color: rgb(var(--button-foreground));
  background: rgb(var(--button-background));
  border-color: rgb(var(--button-border));
  font-size: var(--button-font-size);
  letter-spacing: 0.1em;
  font-weight: var(--button-font-weight);
  line-height: 1.5;
  font-family: var(--button-font-family);
  padding: .8rem 2rem;

  a{
    color:inherit !important;
    transition:unset;
  }

  &:hover,
  &:focus {
    a{
      opacity: 1 !important;
      color:inherit !important;
      
    }
  }

  &:focus-visible {
    color: rgb(var(--button-foreground));
    background-color: rgb(var(--button-background));
    border-color: rgb(var(--button-border));
    outline: 0;
    box-shadow: none;
  }

  &.fluid {
    width: 100% !important;
    margin-right: 0;
    margin-bottom: 5px;
  }

  > svg {
    height: 1.4em;
    width: 1.4em;
    fill: currentcolor;
    z-index: 1;

    &.right {
      margin-left: 15px !important;
    }
    &.left {
      margin-right: 15px !important;
    }
  }

  &-xs {
    --button-font-size: 1.2rem;

    line-height: 1.2;
    padding: 0.5rem 1.5rem;
  }
  &-sm {
    --button-font-size: 1.4rem;
    line-height: 1.4;
    padding: 0.5rem 2rem;
  }
  &-lg {
    --button-font-size: 1.8rem;
    line-height: 2;
    padding: 1rem 3rem;
  }
}

.btn {
  --button-background: var(--beige);
  --button-foreground: var(--dark);
  --button-border: var(--beige);

  &::before {
    content: "";
    position: absolute;
    background: rgb(var(--offwhite));
    opacity: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease;
    transform: scale(0.5);
  }

  &:hover,
  &:focus {
    outline: 0;
    box-shadow: none;
    color: rgb(var(--button-foreground));
    text-decoration: none;
    background-color: rgb(var(--button-background));
    border-color: rgb(var(--button-border));

    &::before {
      opacity: 0.12;
      transform: scale(1);
    }
  }

  &:active,
  &.active {
    transform: scale(0.94);
    box-shadow: none;

    &:focus {
      box-shadow: none;
    }
  }

  &:disabled,
  &.disabled {
    pointer-events: none;
    opacity: 0.67;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: transparent;
  }
}

.btn-check:checked + .btn, 
.btn.active, .btn.show, 
.btn:first-child:active, :not(.btn-check) + .btn:active {
  color: rgb(var(--button-foreground));
  background-color: rgb(var(--button-background));
  border-color: rgb(var(--button-border));
}

.btn-outline {
  --button-background: var(--light);
  --button-border:var(--light);
  --button-foreground: var(--dark); 

  background-color: transparent;
  color: rgb(var(--button-background));
  border-color: rgb(var(--button-border));
  overflow: hidden;

  &:hover,
  &:active,
  &.active,
  &:focus {
    color: rgb(var(--button-foreground));
    border-color: rgb(var(--button-border));
    background-color: transparent;
    box-shadow: inset 0 -54px 0 0 rgb(var(--button-background));

    &:focus {
      box-shadow: inset 0 -54px 0 0 rgb(var(--button-background));
    }
  }

  &.btn-dark {
    --button-background: var(--dark);
    --button-border:var(--dark);
    --button-foreground: var(--dark);  
  }
  &.btn-primary {
    --button-foreground: var(--color-primary);
    --button-border: var(--color-primary);
  }
  &.btn-secondary {
    --button-foreground: var(--color-secondary);
    --button-border: var(--color-secondary);
  }
  
  &.btn-dark,
  &.btn-primary,
  &.btn-secondary {
    &:hover, &:active, &.active, &:focus{
      --button-foreground: var(--offwhite);
    }
  }

}

.btn-framed {
  --button-background: var(--light);
  --button-foreground: var(--dark);
  --button-border:var(--light);

  color: rgb(var(--button-background));
  background-color: transparent;
  border-color: rgb(var(--button-border));
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    background: rgb(var(--offwhite));
    opacity: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease;
    transform: scale(0.5);
  }

  &:hover,
  &:focus {
    outline: 0;
    box-shadow: none;
    color: rgb(var(--button-background));
    text-decoration: none;
    background-color: transparent;
    border-color: rgb(var(--button-border));

    &::before {
      opacity: 0.12;
      transform: scale(1);
    }
  }

  &:active,
  &.active {
    transform: scale(0.94);
    box-shadow: none;

    &:focus {
      box-shadow: none;
    }
  }

  &:disabled,
  &.disabled {
    pointer-events: none;
    opacity: 0.67;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: transparent;
  }
}

.btn-dark,
.btn-primary ,
.btn-secondary {
  --button-foreground: var(--offwhite);
}

.btn-dark{
  --button-background: var(--dark);
  --button-border: var(--dark);
}

.btn-primary {
  --button-background: var(--color-primary);
  --button-border: var(--color-primary);
  
  &:disabled,
  &.disabled {
    background: rgb(var(--button-background));
  }
}

.btn-secondary {
  --button-background: var(--color-secondary);
  --button-border: var(--color-secondary);
  
  &:disabled,
  &.disabled {
    background: rgb(var( --button-background));
  }
}

.btn-dashed {
  --button-background: transparent;
  --button-foreground: var(--beige);
  --button-border: var(--beige);

  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  border-radius: 100%;
  color: rgb(var(--button-foreground));
  background-color: rgb(var(--button-background));
  border: 1px dashed rgb(var(--button-border));
  padding: 0.375rem 0.75rem;

  &::before {
    content: "";
    position: absolute;
    background: rgb(var(--offwhite));
    opacity: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease;
    transform: scale(0.5);
  }

  &:hover,
  &:focus {
    outline: 0;
    box-shadow: none;
    text-decoration: none;
    color: rgb(var(--button-foreground));
    background-color: rgb(var(--button-background));
    border-color: rgb(var(--button-border));

    &::before {
      opacity: 0.12;
      transform: scale(1);
    }
  }

  &:hover,
  &:active,
  &.active,
  &:focus {
    color: rgb(var(--button-foreground));
    background-color: rgb(var(--button-background));
    border-color: rgb(var(--button-border));
    box-shadow: none;

    &:focus {
      box-shadow: none;
    }
  }

  svg {
    width: 1.2em;
    height: 1.2em;
    fill: currentcolor;
  }

  &.btn-dark {
    --button-foreground: var(--dark);
    --button-border: var(--dark);
  }
  &.btn-primary {
    --button-foreground: var(--color-primary);
    --button-border: var(--color-primary);
  }
  &.btn-secondary {
    --button-foreground: var(--color-secondary);
    --button-border: var(--color-secondary);
  }
}


// === Dropdown 

.dropdown{
  position:relative;
  display:inline-flex;
}

.dropdown-menu { 
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0;
  font-size: var(--fontsize-base); 
  text-align: left;
  list-style: none;
  color: rgb(var(--color-foreground));
  background-color: rgb(var(--color-background));
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 0.375rem;
  list-style: none;
  padding: 0;
  border: 0;
  border-radius: 0;
  box-shadow: 0 6px 15px #0000001f;
  
  &.shown{
    display: block;
    position: absolute;
    inset: 0px auto auto 0px;
    margin: 0px;
    transform: translate3d(0px, 40px, 0px);
  }  


  &-right {
    right: 0 !important;
    left: auto !important;
  }
  &[x-placement^="bottom"], 
  &[x-placement^="left"], 
  &[x-placement^="right"],
  &[x-placement^="top"] {
    right: auto !important;
    bottom: auto !important;
  }
  
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li{
    border-bottom: 1px solid rgba(var(--color-border), .5);
    .dropdown-item{
      display: block;
      width: 100%;
      clear: both;
      text-align: inherit;
      text-decoration: none;
      white-space: nowrap;
      background-color: transparent;
      border: 0;
      padding: 1rem 2rem;
      color: rgb(var(--color-link));
      font-size: inherit; //var(--fontsize-base);
      transition: color .3s ease,border .3s ease;
      
      span {
        font-weight: 700;
      }
    }
  }
}

  // === Form fields

  .field{
    .prefix{
      position: absolute;
      top: .5rem;
      font-size: 2.4rem;
      color: rgb(var(--color-foreground));
      -webkit-transition: color 0.2s;
      -o-transition: color 0.2s;
      transition: color 0.2s;    
  
      svg {
        fill: currentcolor;
        width: 20px;
        height: 20px;
      }
      
      ~ input,
      ~ textarea {
        margin-left: 4rem;
        width: -webkit-calc(100% - 4rem);
        width: calc(100% - 4rem);
      }
  
      ~ label,
      ~ input {
        margin-left: 4rem;
      }
      
      &.prefix-right {
        right: 0;
        left: auto;
        text-align: right;
  
        ~ input,
        ~ textarea,
        ~ label {
          margin-left: 0;
          width: calc(100% - 4.8rem);
        }
      }
  
    }
  }
  
  // === Show/hide password
  .password {
    input {
      padding-right: 55px !important;
    }
  
    .prefix {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: absolute;
      height:4.5rem;
      top:0;
      right: 1rem;
      padding-left: .8rem;
      cursor:pointer;
      border-left: 1px solid rgb(var(--color-border));  
  
      svg {
        width: 24px;
        height: 24px;
        fill: currentcolor;
  
        .closed-eye {
          opacity: 0;
          height: 0;
        }
      }
  
      &.on {
        svg .closed-eye {
          opacity: 1;
          width: 4px;
          height: 44px;
          transition: opacity 300ms ease, height 400ms ease;
        }
      }
    }
  }
  
  .field.password .prefix {
    top: 1px;
  }
  
  

  
// === Cookie consent

.cookie {
	position: fixed;
	left: 0;
	top: auto;
	right: auto;
	bottom: 0;
	z-index: 3;
	display: block;
	width: 100%;
	max-width: 49.5em;
	padding: 4.5em;
	opacity:0;
	visibility:hidden;
	background-color: rgb(var(--light));  
	font-size: .9em;

	&.shown{
		opacity:1;
		visibility:visible;
	}
	
	.btn{  
		font-size: .75em;
		font-weight: 600;
	}

  &__heading{
    display:flex;
    align-items:center;
  }
	&__content{
		margin-bottom:2em;

    svg{
      margin-right:.5rem;
      width:30px;
      height:30px;
      fill:currentcolor;
    }
	}

	&__settings{
		margin-bottom: 2em; 
		overflow: hidden;
		height: auto;
		display: none;

		p{
			margin-bottom:1em;
			margin-left:3.5rem;
		}

		.btn{  
			display:none;
		}
	}

	&__form-check{
		display: inline-flex;  

		input{
			display: none;
		}

		.checkbox{
			label{
				display: inline-flex;
				align-items: center;
				font-weight:500;
				cursor: pointer;
				position: relative;

				.check {
					display: block;
					cursor: pointer;
					background: #D9D4D0;
					color: rgb(var(--beige));
					border-radius: 100%;
					width: 2.5rem;
					height:2.5rem;
					margin-right: 1rem;
					position: relative;
					transition: all 1s;

					svg{
						width: 12px;
						height: 12px;
						display: none;
						margin: auto;
						position: relative;
						top: 50%;
						transform: translateY(-50%);
						fill: rgb(var(--beige));
					}
				}
			}

			input:checked{
				~ .check{
					background: rgb(var(--dark));

					svg{
						display:block;
					}
				}
			}
		}
	}
}

  // === Announcement

  :root{
    --announcementHeight: 50px;
  }
  
  #shopify-section-announcement-bar {
      z-index: 4;
      position: relative;
      transition: .3s ease;
  
      &.sticky{
          .announcement {
              font-size: 0;
              height: 0;
              gap:0;
              padding:0;
        
              svg {
                height: 0;
              }
            } 
      }
  }
  
  :root{
      
      --announcementFont: var(--fontstack1);
      --announcementHeight: 50px;
  }
  .announcement{   
      position: relative;
      z-index: 1;
      display: grid;
      grid-auto-flow: column;		
      gap: 2rem;
      height:var(--announcementHeight);
      justify-content: center;
      align-content: center;
      padding: 1em 0;
      font-size: calc(var(--font-heading-scale) * 1.4rem);
      font-weight: 300;
      font-family: var(--announcementFont);
      color: rgb(var(--color-foreground));
      background: rgb(var(--color-background));
      transition: all .5s ease-in-out;
      
      @include MQ-max(S){
          grid-auto-flow: row;		
          gap: 1rem;
          height: auto;
      }
  
      &__item {
          display: flex;
          align-items: center;
          padding-right: 1.5rem;
  
          @include MQ-min(S) {
            padding:0 2rem;
            border-right: 1px solid rgb(var(--color-foreground));
  
            &:last-child {
              border-right: 0;
            }
          }
  
          svg {
            margin-right: 1rem;
            fill: currentcolor;
            width: 1.5em;
            height: 1.5em;	
          }
  
          h6 {
            font-family: var(--announcementFont);
            font-size: calc(var(--font-heading-scale) * 1.4rem);
            font-weight: 300;
            color:var(--foreground);
            letter-spacing: 0.08em;
            line-height: 1.5;
            margin: 0;
          }
      }
  }

  // === Logo

  .svg-logo{
    &__symbol{
      fill:rgb(var(--color-primary-alt));
      stroke:rgb(var(--color-primary-alt));
    }
    &__brand{
      fill:rgb(var(--dark));
    }
    &__alt{
      fill:rgb(var(--color-primary-alt));
      stroke:rgb(var(--color-primary-alt));
    }
  }

// === Header

.shopify-section-header-sticky{
  .header-wrapper{   
      //background: rgba(255,255,255, .85);
  } 
}

.header__heading svg,
.header__heading-link svg{
  width: 200px;
  height:70px;
}


.header__bottom__fixed {  
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: rgb(var(--color-foreground));  
  background: rgb(var(--color-background));  
  padding: 5px 15px;
  align-items: center;
  box-shadow: 0 1px 12px 2px #0000004d;
  z-index: 10;
  line-height: 1;
  height: 45px;

  @include MQ-min(L){
    display:none;
  }

  > * {
    flex: 1;
    text-align: center;
  }

  svg {
    width: 24px;
    height: 24px;
    fill: currentColor;
  }

  .icon-shop{
    fill:none;
  }

  .icon-cart,
  .icon-cart-empty{
    width: 42px;
    height: 42px;
  }
}


details[open] > .header__menu-item {
  text-decoration: none;

  &::before{
    width:100%;
  }
}

.list-menu__item {
  font-size: var(--fontsize-md);
}

.header__active-menu-item,
.header__menu-item:hover span {
  text-decoration: none !important;
  text-underline-offset: unset !important;
}

/* component-cart-count-bubble */
.cart-count-bubble:empty {
  display: none;
}

.cart-count-bubble {
  position: absolute;
  background-color: rgb(var(--color-secondary));
  color: rgb(var(--white));
  height: 1.7rem;
  width: 1.7rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  bottom: 0.8rem;
  left: 2.2rem;
  line-height: calc(1 + 0.1 / var(--font-body-scale));
}

// === Mobile menu

header-drawer {
  margin-left: 0 !important;
}

.menu-drawer__menu-item{
  font-size: var(--fontsize-md) !important;
}

.menu-drawer__close-button {
  font-size: var(--fontsize-md) !important;
}
.menu-drawer__menu-item--level-2{
  flex-direction: column;
  z-index: 0;

  &.underlined-link{
    cursor:pointer;
    font-weight: normal;
  }

  div {
    order: 2;
    display: flex;
    align-items: flex-end;
    position: relative;
  }

  img{
    max-width:100%;
    height:auto;
    margin-bottom:1rem;
    border-radius: 4px;
    padding-top: 1rem;
  }

}

// === Image banner

@media screen and (min-width: 750px) {
  .banner--content-align-center .banner__buttons--multiple > * {
    flex-grow: 1;
    min-width: 20rem !important;
  }
}

// === Footer

.wh-footer { 	
    --footerLogoWidth:200px;

	z-index: 2;
	position: relative;
	margin:0;
    
	a{
		text-decoration:none;
		
    &:hover {
			text-decoration:none;
		}
	}

	&__heading{
		margin-bottom: 2rem;
		margin-top: 0;
    font-weight:600;
		font-size: calc(var(--font-heading-scale) * 1.4rem);
		
      @include MQ-min(L){
        font-size: calc(var(--font-heading-scale) * 1.6rem);
      }
	  }
	
	  &__block{
      margin-bottom: 2rem;
      
      @include MQ-min(M){
        p{
          padding: 0;
        }
      }    
	  }
	  
	  &__logo{
		  color:rgb(var(--color-foreground));
		
      &:hover {
        color:rgb(var(--color-foreground));
      }
      
      img{
        
              max-width:90px;

              @include MQ-min(M){
                  max-width: 120px;
              }
      }
      svg{
        width:var(--footerLogoWidth);
        height:calc(var(--footerLogoWidth) / 3);
        
                
		}
	}

	  &__top{
		padding:8rem 0;
		color:rgb(var(--color-foreground));
		background:rgb(var(--color-background));
	
		&__grid{
		  display: grid;
		  grid-gap: 4rem;
		  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		  grid-auto-rows: auto;
		  grid-auto-flow: dense;
	
		  @include MQ-max(M) {
			grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));                
		  }
	
		  &__item{
			padding: 0 2.4rem;
			border-left: 1px solid rgb(var(--color-border));
	
			@include MQ-max(M) {
			  padding-left: 2.4rem;
			  padding-bottom: 2.4rem;
			  border-left:0;
			  border-bottom: 1px solid rgb(var(--color-border));

			  &:last-child{
				border-bottom:0;	  
			  }
			}
	
			&:first-child{
			  padding-left: 0;
			  border-left:0;
	
			  @include MQ-max(M) {
				padding-left: 2.4rem;
			  }
			}
		  }
	
		}
	  }
	

	&__bottom{
		padding: 3rem 0 2.5rem;
		color:rgb(var(--color-foreground));
		background:rgb(var(--color-background));	
		
		&__content{
		  color:inherit;
		  display:flex;
		  flex-direction:column;
		  align-items:center;
		  justify-content:center;
		  
		}
		
		&__socials{           
		  margin-bottom:5rem;
		}   

		&__copyright{            
			font-weight:600;
			font-size:1.4rem;		
		}
	  
        &__title{
            font-weight:600 !important;
        }

        &__text{
			display:flex;

			@include MQ-max(S) {
				flex-direction: column;
			}

			a{
				font-size:1.3rem;
				color:rgb(var(--color-link));
				border-right: 1px solid rgb(var(--color-foreground));
				padding:0 1rem;
				text-decoration: underline;
	
				&:last-child{
					border-right:0;
				}
	
				&:hover{
					text-decoration: underline;
                    opacity: var(--alpha-link);
				}

				@include MQ-max(S) {					
					border-right: 0;
					text-align: center;					
				}
			}
	
		  }

		  &__note{
			display: flex;
			font-size:1.4rem;
			color: rgb(var(--color-foreground));

			@include MQ-max(S) {
				flex-direction: column;
				text-align: center;	
			}
		  }     
	  }
	  
	  &__socialmedia {
		display: flex;
		align-items: center;
		justify-content: center;
		list-style-type: none;
		margin: 0;
		padding: 0;
	
		&__item{
		  position: relative;
		  display: flex;
		  justify-content: center;
		  align-items: center;
		  flex-direction: column;		  
		  background: transparent;
		  border: 1px solid rgb(var(--color-foreground));
		  color:rgb(var(--color-foreground));
		  border-radius: 50%;
		  padding: 15px;
		  margin: 10px;
		  width: 42px;
		  height: 42px;
		  font-size: 16px;
		 
		  cursor: pointer;
		  transition: all ease-out 0.5s;
	
		  a{
			text-decoration:none;
			color:inherit;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			line-height: 0;
			
			svg{
			  width:20px;
			  height:20px;
			}
		  }
		  &:hover{
			.wh-footer__socialmedia__item__tooltip{
			  top: -45px;
			  opacity: 1;
			  visibility: visible;
			  pointer-events: auto;
			}
	
			a,
			.wh-footer__socialmedia__item__tooltip{
			  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
			}
		  }
	
		  &__tooltip{
			position: absolute;
			top: 0;
			white-space: nowrap;
			font-size: 14px;
			background: rgb(var(--offwhite));
			color: rgb(var(--offwhite));
			padding: 5px 8px;
			border-radius: 5px;
			box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
			opacity: 0;
			pointer-events: none;
			transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	
			&::before {
			  position: absolute;
			  content: "";
			  height: 8px;
			  width: 8px;
			  background: rgb(var(--offwhite));
			  bottom: -3px;
			  left: 50%;
			  transform: translate(-50%) rotate(45deg);
			  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
			}
		  }
	
		  &:hover{
			background: rgb(var(--color-foreground));
			border: 1px solid rgb(var(--color-foreground));
			color: rgb(var(--offwhite));
	
			.wh-footer__socialmedia__item__tooltip,
			.wh-footer__socialmedia__item__tooltip::before{
			  background: rgb(var(--color-foreground));
			  border: 1px solid rgb(var(--color-foreground));
			  color: rgb(var(--offwhite));
			}
	
			a{
			  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
			}
	
			.wh-footer__socialmedia__item__tooltip{
			  top: -45px;
			  opacity: 1;
			  visibility: visible;
			  pointer-events: auto;
			  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
			}
	
		  }
		}
	  }
}

.wh-footer-menu{
	margin: 0;
    padding: 0;
    list-style: none;

	li{
		margin-bottom:7px;
		
		&:last-child{
			margin-bottom:0;
		}
	}
	a{
		color:rgb(var(--color-link));

		&:hover{
			opacity:var(--alpha-link);
		}

		&.active{
			color:var(--color-secondary);
		}
	}
}


// === Masonery

.masonery {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 400px;
    grid-auto-flow: dense;
    padding: 30px 0px;

    @include MQ-max(S) {
        //grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
       // grid-auto-flow: dense;
    }

    &__item {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        

        > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
            pointer-events: none;
            position: absolute;
            z-index: -1;
        }

        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2rem;
        }

        &--wide {
            grid-column: span 2;
        }
        &--tall {
            grid-row: span 2;
        }
    }

    &__title {
        font-family: var(--fontstack2);
        color: var(--foreground);
        font-size: 2rem;
        margin: 0;
        margin-bottom: 1rem;
    }
    &__subtitle {
        font-family: var(--fontstack3) !important;
        color: var(--foreground);
        font-size: 3.5rem;
        margin: 0;
        line-height: 1;
    }
}
  



// === Drawer

.wh-drawer {
  --drawer-width: 450px;
  --drawer-transform-width: -450px;

  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  left: -100vw;
  right: auto;
  z-index: 100;
  background: rgb(var(--color-background));
  box-shadow: 0px 0px 30px 0px rgba(82, 63, 105, 0.15);
  -webkit-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;

  @include MQ-min(M) {
    width: var(--drawer-width);
    left: var(--drawer-transform-width);
  }

  &--right {
    right: -100vw;
    left: auto;

    @include MQ-min(M) {
      width: var(--drawer-width);
      right: var(--drawer-transform-width);
      left: auto;
    }
  }

  &__overlay {
    opacity: 0;
    background: #1e1c1c;
    visibility: hidden;
    z-index: -1;
    top: 0;
    left:0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    transition: opacity 0.3s ease;
  }

  &.shown {
    transform: translateX(100vw);

    @include MQ-min(M) {
      transform: translateX(450px) translateZ(0);
    }

    &.wh-drawer--right {
      transform: translateX(-100vw);

      @include MQ-min(M) {
        transform: translateX(-450px) translateZ(0);
      }
    }

    + .wh-drawer__overlay {
      opacity: 0.5;
      visibility: visible;
      z-index: 14;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    padding: 2.4rem;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 2rem .5rem 1rem .5rem;
    color: rgb(var(--color-foreground));

    &.border{
      border-bottom: 1px solid rgb(var(--color-border));
    }
  
    &__title {
      font-weight: 600;
      margin: 0;
    }
    h1,h2,h3,h4,h5,h6{
      margin: 0;
    }
  }

  &__content {
    overflow-y: auto;
    padding-top: 2.4rem;
    flex-grow: 1;
    -webkit-overflow-scrolling: touch;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem .5rem 0 .5rem;
    
    &.border{
      border-top: 1px solid rgb(var(--color-border));
    }
  }
}

.empty-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    > svg {
      margin-bottom: 10px;
      height: 60px;
      width: 60px;
      color: rgb(var(--gold));
    }

    &__title {
      text-align: center;
    }
    &__cookie {
      margin-bottom: 1.5rem;
      text-align: center;
    }

    a {
      font-style: italic;
      padding-right: 12px;
      position: relative;
      color: rgb(var(--color-foreground));

      &:hover {
        text-decoration: none;
        color: rgb(var(--color-foreground));
      }

      &::after {
        background: rgb(var(--color-foreground));
        content: "";
        position: absolute;
        bottom: 1px;
        height: 1px;
        opacity: 0.2;
        left: 0;
        right: 12px;
      }

      > svg {
        width: 14px;
        height: 14px;
        position: absolute;
        right: -3px;
        top: calc(50% - 7px);
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
      }
    }
}

// === Login drawer

.wh-login{  
  &__content{
    height:0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;

    &.shown{
      height:auto;
      opacity: 1;
      visibility: visible;
    }
  } 

  &__title{
    display: none;

    &--login{
      display: block;
    }
  }

  .field{
    margin-bottom: 2rem !important;
  }

 
}
.form-actions{
  display: flex;
  align-items: center;
}
.form-button.anim input:hover {
  -webkit-animation-name: text-indent;
  animation-name: text-indent;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@keyframes text-indent{
	0% {
		text-indent:30px
	}
	15% {
		text-indent:-25px
	}
	30% {
		text-indent:20px
	}
	45% {
		text-indent:-15px
	}
	60% {
		text-indent:10px
	}
	75% {
		text-indent:-5px
	}
	90% {
		text-indent:2px
	}
	100% {
		text-indent:0px
	}
}
@-webkit-keyframes text-indent{
	0% {
		text-indent:30px
	}
	15% {
		text-indent:-25px
	}
	30% {
		text-indent:20px
	}
	45% {
		text-indent:-15px
	}
	60% {
		text-indent:10px
	}
	75% {
		text-indent:-5px
	}
	90% {
		text-indent:2px
	}
	100% {
		text-indent:0px
	}
}
@-moz-keyframes text-indent{
	0% {
		text-indent:30px
	}
	15% {
		text-indent:-25px
	}
	30% {
		text-indent:20px
	}
	45% {
		text-indent:-15px
	}
	60% {
		text-indent:10px
	}
	75% {
		text-indent:-5px
	}
	90% {
		text-indent:2px
	}
	100% {
		text-indent:0px
	}
}


// === Marquee

.wh-marquee{
    --marquee-background: var(--black);
    --marquee-foreground: var(--white);
    --marquee-span: var(--color-error);

    display:none;
        
    
    &.shown{
        display:flex;
        height:40px;
        width: 100%;
        background: rgb(var(--marquee-background));
        position: relative;
        overflow: hidden;
        box-shadow: 1px 1px 1px #434343;
    }
 
    &.mobile-hidden{
        @include MQ-max(M) {
        display:none !important;
        }  
    } 

    .dismiss{
        z-index:2;
    }
    
    &__content{
        display: flex;
        height: 40px;
        color: rgb(var(--marquee-foreground));
        white-space: nowrap;
        z-index:1;
        ul {
        display: flex;
        white-space: nowrap;
        padding:0;
        list-style: none;
        margin: 0;
        
        li {
            display:flex;
            align-items:center;        
            -webkit-animation-name: marquee;
            animation-name: marquee;
            -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;    
            .wh-marquee__item { 
            div{
                padding: 0 2rem;
            }
            span{
                color: rgb(var(--marquee-span));
                padding:0;
            }
            }
        }
        &:hover {
            li {
            animation-play-state: paused;
            }
        }
        }
    }
}

@keyframes marquee{
	100% {
		 transform: translateX(-100%);
	}
}
@-webkit-keyframes marquee{
	100% {
		transform: translateX(-100%);
	}
}
@-moz-keyframes marquee{
	100% {
		transform: translateX(-100%);
	}
}

// == Collection

.wh-collection{   
    width:100%;
     
    &__container{
      display:grid;
      grid-template-columns:0px auto;
      grid-template-areas:"aside content";
      align-items:flex-start;
      gap:2rem;
    }
  
    &__aside{
        --drawer-width: 300px;
        --drawer-transform-width: -300px;

        grid-area:aside;
        opacity: 0;
        visibility: hidden;  
        transition: all 0.8s;
  
        @include MQ-min(L){
            .dismiss{
                opacity:0;
                visibility:hidden;
            }
        }
  
        &__container{
            @include MQ-max(M){
              padding:5rem 2rem 2rem 2rem;
            }
        }

        &__overlay {
            opacity: 0;
            background: #1e1c1c;
            visibility: hidden;
            z-index: -1;
            top: 0;
            left:0;
            position: fixed;
            width: 100vw;
            height: 100vh;
            transition: opacity 0.3s ease;
        }
    }
  
    &__content{ 
        grid-area:content;
        width:100%;
        transition: all .3s ease;
    }
    
    &.shown{    
        .wh-collection__container{
            grid-template-columns: 300px auto;

            @include MQ-max(M){
                grid-template-columns: 0 auto;
            }
        }
        .wh-collection__aside{
            position: relative;
            opacity: 1;
            visibility: visible;

            @include MQ-max(M){  
                position: fixed;
                top: 0;
                left:0;
                width: var(--drawer-width);
                left: var(--drawer-transform-width);
                height: 100vh;
                right: auto;
                z-index: 100;
                background: rgb(var(--color-background));
                transform: translateX(300px) translateZ(0);
                box-shadow: 0px 0px 30px 0px rgba(82, 63, 105, 0.15);

                + .wh-collection__aside__overlay {
                    opacity: 0.5;
                    visibility: visible;
                    z-index: 14;
                } 
            }
        }  
    }
  
    &__toolbar{
        display:flex;
        justify-content:space-between;
        margin-bottom:2rem;
  
        &__item{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }

        &__button{
            display: inline-flex;
            align-items:center;
            position: relative;
            cursor: pointer;
            background: transparent;
            border: 0;
            margin-right:2rem;
            font-size: calc(var(--font-heading-scale) * 1.3rem);
            font-family: var(--fontstack1);
            font-style: normal;
            font-weight: 500;
            letter-spacing: calc(var(--font-heading-scale) * .2rem);
            color: rgb(var(--color-foreground));
            line-height: calc(1 + 0.3 / max(1, var(--font-heading-scale)));
            text-transform: uppercase;
            margin-bottom: 0.5em;
            padding: .5rem 2rem;
            border: 1px solid rgb(var(--color-border));
            transition: all .3s ease; 

            svg{
                width: 24px;
                height: 24px;
                padding-right:1rem;
                fill:currentcolor;
            }

            &:hover{
                background: rgb(var(--dark));
                color: rgb(var(--light));
            }
        }

        &__view{
            display: inline-flex;
            align-items: center;
            justify-content: center;   
            flex-wrap: wrap;
            text-align: center;
            height: 34px;
            width: 34px;
            border: 1px solid rgb(var(--color-border));
            -webkit-transition: all .3s ease;
            transition: all .3s ease;
            position: relative;
            cursor: pointer;
            margin-left: 10px;
            line-height: 32px;     

            span {
                width: 2px;
                height: 10px;
                background:rgb(var(--color-mute));
                margin: 0 1px;
                display: inline-block;
                -webkit-transition: all .3s ease;
                transition: all .3s ease;
            }

            &.active,
            &:hover {
                background:rgb(var(--color-primary));       
                border-color: rgb(var(--color-primary));  

                span{
                    background:rgb(var(--offwhite));
                }
            }

            &:first-child{
                flex-direction: column;

                span {
                    height: 2px;
                    width: 10px;
                    margin: 1px 0;
                }
            }
        }
    }

    &__grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem;
        transition: all 1s;
    
        @include MQ-between(S, M){
          grid-template-columns: repeat(2, 1fr);
          gap: 1rem;
        }
        @include MQ-min(M){
          grid-template-columns: repeat(3, 1fr);
          gap: 2rem;
    
          &.list {
            grid-template-columns: 1fr;
            gap: 2rem;
          }
          &.grid-2 {
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
          }
          &.grid-3 {
            grid-template-columns: repeat(3, 1fr);
            gap: 1.5rem;
          }
          &.grid-4 {
            grid-template-columns: repeat(4, 1fr);
            gap: 1rem;
          }
        }
    
        &.list {
          grid-template-columns: 1fr;
          gap: 2rem;
    
          .card-wrapper{
            width: 75%;
    
            .card:not(.ratio) {
              flex-direction: row;
    
              > .card__content {
                align-items: flex-start;
                justify-content: flex-start;
                padding: 0 2.4rem;
              }
            }
    
            .card-information{
              text-align: left !important;
              padding-top:0 !important;
    
              @include MQ-min(M){
                padding-top:0 !important;
              }
            }
    
          }
    
        }
    }

    &__footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top:30px;
    
        &__count{
            margin-bottom:10px;
            font-size:var(--fontsize-base);
        }
    
        &__perc{
            width: 100%;
            max-width: 350px;
            margin: auto;
            margin-bottom: 25px;
            height: 5px;
            background:rgb(var(--grey-400));
            position: relative;

            .percent{
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                background:rgb(var(--color-primary));
            }
        }
    }
}


// === Product card

:root{
  --card-accent-background: var(--color-primary);
  --card-accent-foreground: var(--offwhite);
}

.card{
  &__inner{
		transition: box-shadow 0.3s;	 
    
    .quick-actions {
        position: absolute;
        bottom: 15px;
        right: 0;
        z-index: 9;
        width: 100%;
        display: flex;
        padding: 0 15px;
        transition: all .3s ease-in-out;
        justify-content: center;      
        flex-wrap: wrap;
        width: 100%;
        right: 0;
        padding: 0;
        bottom: 60px;
        
        &__item{
          position: relative;
          transition: all .3s ease;
          transform: translateY(50px);
          opacity: 0;
          visibility: hidden;
          margin: 0 5px;
          
          &::before {
            content: attr(data-title);
            position: absolute;
            padding: 0 10px;
            background: black;
            color: rgb(var(--offwhite));
            bottom: calc(100% + 10px);
            line-height: 23px;
            white-space: nowrap;
            left: 50%;
            transform: translate(-50%);
            font-size: 12px;
            z-index: 10;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
          }
          &::after {
            content: "";
            position: absolute;
            bottom: 100%;
            left: calc(50% - 5px);
            border-width: 5px;
            border-style: solid;
            border-color: black transparent transparent transparent;
            pointer-events: none;
            opacity: 0;
            visibility: hidden;
          }
          
          
          .quickaction{
            display:inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            cursor: pointer;
            border:0;
            width: 34px;
            height: 34px;
            background: rgb(var(--offwhite));
            box-shadow: 0 0 10px 2px #0000000a;

            svg{
              width:18x;
              height:18px;
              fill:currentcolor;
            }
            
            &.active {
              color: rgb(var(--card-accent-foreground));
              background: rgb(var(--card-accent-background));
            }
            
            &:hover,
            &:focus {
              outline: 0;
              box-shadow: none; 
              border:0;
            }
            
            &:hover{
              color:  rgb(var(--card-accent-foreground));
              background-color: rgb(var(--card-accent-background));
              border-color: rgb(var(---card-accent-background));
              -webkit-animation-name: beat;
              animation-name: beat;
              -webkit-animation-duration: 0.9s;
              animation-duration: 0.9s;
              -webkit-animation-timing-function: ease-in-out;
              animation-timing-function: ease-in-out;
              -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
            }
          }
        }
                
        .quick-action {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 2.25rem;
          height: 2.25rem;
          margin-bottom: 0.5rem;
          border: 1px solid #e1e1e1;
          border-radius: 50%;
          background-color: white;
          color: #999;
          line-height: 0;
          border: 0;
          font-size: 1.125rem;
          font-weight: 700;
          box-shadow: 0 2px 5px rgba(0,0,0,10%);
          transition: border-color 0.3s, color 0.3s, background-color 0.3s;

          svg path {
            stroke:  rgb(var(--card-accent-background));
          }
        }
    }

    .cta  {
        text-align: center;
        position: absolute;
        bottom: 0;
        margin:0;
        width: 100%;
        transition: all .3s ease;
        transform: translateY(100%);
        opacity: 0;
        visibility: hidden;
        
      &__container {
          display: flex;
          width: 100%;
          background: rgba(0,0,0,.5);
          height: 45px;
          line-height: 45px;

          &__button{
            position: relative;
            height:45px;
            display:flex;
            align-items:center;
            justify-content: center;
            color: white;          
            text-transform: unset;
            margin: auto;
            cursor:pointer;
            flex: 1;
            font-size: 14px;          
            overflow: hidden;
            z-index: 1;
            background: transparent;
            overflow: hidden;
            z-index: 1;
            border: 0;
                      
            svg{
              width: 32px;
              height: 20px;
              fill:currentcolor;   
              padding-right:.5rem;
            }
            
            &:after {
              content: "";
              position: absolute;
              top: 0;
              height: 100%;
              right: 0;
              width: 0;
              z-index: -1;
              background: rgb(var(--card-accent-background)); 
              transition: all 0.3s ease; 
            }
            
            &:hover {
              color: rgb(var(--card-accent-foreground)); 

              &:after {
                width: 100%;
                left: 0; 
              }
            }
          }      
        }
    }
   
    &.light{   
      --card-accent-background: var(--light);
      --card-accent-foreground: var(--dark);
    }

    &.dark{
      --card-accent-background: var(--dark);
      --card-accent-foreground: var(--light);
    }

    &.accent-1{
      --card-accent-background: var(--color-primary);
      --card-accent-foreground: var(--offwhite);
    }

    &.accent-2{
      --card-accent-background: var(--color-secondary);
      --card-accent-foreground: var(--offwhite);
	  }

    &.inverse{
      --card-accent-background: var(--color-foreground);
      --card-accent-foreground: var(--color-background);
    }
  }
  
  &__heading{
    font-family:var(--fontstack1);
    font-size: var(--fontsize-sm);
    margin: 0 0 5px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.5px;

    > a {
      transition: color .3s ease;
      color: rgb(var(--color-foreground));
      
      &:hover {
        color: rgb(var(--color-secondary-alt));
        text-decoration: none;
      }
    }
  }

  &__actions{
    position: absolute;
    bottom: 45px;
    right: 15px;
    z-index: 9;
    width: 45px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;

    > div {
      position: relative;

      &:before {
        content: attr(data-title);
        position: absolute;
        padding: 0 10px;
        background: rgb(var(--color-foreground));
        color: rgb(var(--white));
        top: 12.5px;
        line-height: 23px;
        white-space: nowrap;
        right: calc(100% + 10px);
        font-size: 12px;
        z-index: 10;
        opacity: 0;
        visibility: hidden;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        pointer-events: none;
      }
      &:after {
        content: "";
        position: absolute;
        top: 20px;
        right: 100%;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent transparent  rgb(var(--black));
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
      }

    }

    button{
      color: rgb(var(--color-foreground));
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border: 1px solid rgb(var(--color-border));
      background: rgb(var(--white));
      width: 45px;
      height: 45px;
      line-height: 45px;
      padding: 0;
      margin-bottom: 5px;
      transform: rotateY(-90deg);
      transform-origin: 100% 50%;
      transition: all 0.3s ease;
      transition-delay: 0s;
      opacity: 0;
      visibility: hidden;
      transition-delay: 0.1s;
      cursor:pointer;

      svg{
        width:20px;
        height:20px;
        fill:currentcolor;
      }

      &:hover{
        color: rgb(var(--white));
        background-color:rgb(var(--color-primary));
        border-color: rgb(var(--color-primary));
      }
    }
    
    .btn-quickview {
      transition-delay: .2s;
    }
  }

  &:hover,
  &:focus {
    .card__inner {
      .cta {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
      }

      .quick-actions__item{
          opacity: 1;
          visibility: visible;
          transform: translateY(0);        
      }
    }
    .card__actions{
        button{
          opacity: 1;
          visibility: visible;
          -webkit-transform: rotateY(0);
          transform: rotateY(0);
        }
    }
  }
}


@keyframes beat{
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes beat{
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@-moz-keyframes beat{
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}


// === Facet Sorting

.facet-filters__field {
    display: flex;
    flex-grow: 1;
    align-items: center;  
    justify-content: flex-start;
    position:relative;
  
    .select {
      display: flex;
      align-items: center;  
      width: auto;
      border: 1px solid rgb(var(--color-border));
      svg{
        margin-right:.5rem;
        width:24px;
        height:24px;
        fill:currentcolor;
      }
    }
 }

 .facet-filters__sort {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid transparent !important;
    cursor: pointer;
    height: 37px !important;
    line-height: 35px !important;
    padding: 0 1rem  !important;
    box-sizing: border-box;
    background-image: none;
    color: rgb(var(--color-foreground)) !important;
    background-color: rgb(var(--color-background)) !important;
    width: 100%;
    min-width: 17rem !important;

    &:focus{
        box-shadow: none !important;
    }
  
  option{  
    margin: 37px !important;
    line-height: 35px !important;
    color: rgb(var(--color-foreground)) !important;
    background: rgb(var(--color-background)) !important;

    &:hover{
        color: rgb(var(--offwhite)) !important;
        background: rgb(var(--color-secondary)) !important;
    }
  }
}

// === Pagination

.pagination-wrapper {
  flex: 1;
}

.collections__loadmore{
  display:inline-block;
  line-height:40px;
  border:1px solid rgb(var(--color-foreground));
  font-weight: 700;
  padding: 0 35px;
  position:relative;
  transition:all 0.3s ease;
  font-size: 12px;
  text-transform:uppercase;
  z-index:1;

  &:before{
    content:"";
    position:absolute;
    right:0;
    width:0;
    height:100%;
    background: rgb(var(--color-primary));
    transition:all 0.3s ease;
    z-index:-1;
  }

  &:hover{
    border-color:rgb(var(--color-primary));
    color:rgb(var(--offwhite));

    &:before{
      left:0;
      width:100%;
    }
  }

  .lds-ellipsis {
    display: inline-block;
    position: absolute;
    width: 65px;
    height: 8px;
    top: calc(50% - 4px);
    left: calc(50% - 32.5px);
    opacity:0;

    span {
      position: absolute;
      top: 0;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: rgb(var(--dark));
      animation-timing-function: cubic-bezier(0, 1, 1, 0);

      &:nth-child(1) {
        left: 5px;
        animation: lds-ellipsis1 0.6s infinite;
      }
      &:nth-child(2) {
        left: 5px;
        animation: lds-ellipsis2 0.6s infinite;
      }

      &:nth-child(3) {
        left: 29px;
        animation: lds-ellipsis2 0.6s infinite;
      }

      &:nth-child(4) {
        left: 53px;
        animation: lds-ellipsis3 0.6s infinite;
      }
    }
  }

  &.active{
    border-color:transparent;
    color:transparent;
    
    &:before{
      display:none;
    }
    
    .lds-ellipsis{
      opacity:1;
    }
  }
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}


.pagination {
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	border-radius: 0;
	padding: 0;
	display: inline-flex;
	border-bottom:1px solid #e3e3e3;
  
	.pagination__navigation i{
		font-size:18px;
		line-height: 1;
		position: relative;
		top: 2px;
	}
  
	> span {
    
		> a,
    > span {
			display: block;
			width: 40px;
			height: 40px;
			padding:0 10px;
			color: rgb(var(--color-foreground));
			border: 0;
			line-height: 40px;
			text-align: center;
			text-decoration: none;
			transition: all .3s ease;
			position:relative;
			&:before{
				position: absolute;
				bottom: -1px;
				content: "";
				left: 0;
				transform: scaleX(0);
				transform-origin: 100% 50%;
				transition: transform .3s cubic-bezier(.25,.46,.45,.94);
				width: 100%;
				height: 1px;
				background:  rgb(var(--color-foreground));
			}
			&:hover {
				color:rgb(var(--color-foreground));
        
				&:before{
					transform: scaleX(1);
					transform-origin: 0 50%;
					transition-delay: .3s;
				}
			}
		}
		&.current {
			display: block;
			width: 40px;
			height: 40px;
			padding:0 10px;
			color: rgb(var(--color-foreground));
			border: 0;
			line-height: 40px;
			text-align: center;
			text-decoration: none;
			transition: all .3s ease;
			position:relative;
			&:before{
				position: absolute;
				bottom: -1px;
				content: "";
				left: 0;
				transform: scaleX(1);
				transform-origin: 0 50%;
				width: 100%;
				height: 1px;
				background: rgb(var(--color-foreground));
			}
		}
	}
}

