:root {
  --black: 0, 0, 0;
  --white: 255, 255, 255;
  --offwhite: 253, 253, 252;
  --dark: 63, 63, 63;
  --light: 243, 241, 238;
  --nero: 34, 34, 34;
  --ink: 41, 41, 41;
  --gritti: 87, 81, 76;
  --taupe: 116, 112, 109;
  --taupe-dark: 95, 92, 89;
  --taupe-light: 129, 125, 121;
  --taupe-lighter: 154, 150, 148;
  --clay: 214, 212, 209;
  --leem: 111, 104, 99;
  --mud: 182, 177, 171;
  --pepper: 154, 146, 138;
  --sand: 202, 198, 195;
  --powder: 253, 242, 225;
  --cream: 253, 242, 225;
  --beige: 217, 212, 208;
  --peach: 249, 218, 196;
  --havanna: 220, 182, 129;
  --salmon: 226, 174, 157;
  --blush: 222, 205, 202;
  --sienna: 156, 122, 117;
  --rose: 201, 138, 150;
  --pale: 251, 183, 167;
  --gold: 164, 133, 88;
  --grey-50: 242, 242, 242;
  --grey-100: 245, 245, 245;
  --grey-200: 238, 238, 238;
  --grey-300: 224, 224, 224;
  --grey-400: 219, 219, 219;
  --grey-base: 158, 158, 158;
  --grey-600: 117, 117, 117;
  --grey-700: 97, 97, 97;
  --grey-800: 66, 66, 66;
  --grey-900: 33, 33, 33;
  --light-background: 243, 241, 238;
  --light-foreground: 87, 81, 76;
  --light-mute: 153, 145, 138;
  --light-border: 211, 204, 193;
  --light-link: 87, 81, 76;
  --light-alpha-link: 0.7;
  --light-error: 206, 81, 85;
  --light-warning: 226, 152, 93;
  --light-success: 78, 140, 124;
  --light-info: 71, 156, 188;
  --light-primary: 114, 137, 125;
  --light-primary-alt: 78, 140, 124;
  --light-secondary: 156, 122, 117;
  --light-secondary-alt: 209, 144, 146;
  --dark-background: 63, 63, 63;
  --dark-foreground: 154, 146, 138;
  --dark-mute: 116, 108, 100;
  --dark-border: 88, 82, 76;
  --dark-link: 154, 146, 138;
  --dark-alpha-link: 0.7;
  --dark-error: 211, 98, 102;
  --dark-warning: 226, 152, 93;
  --dark-success: 78, 140, 124;
  --dark-info: 71, 156, 188;
  --dark-primary: 114, 137, 125;
  --dark-primary-alt: 114, 137, 125;
  --dark-secondary: 156, 122, 117;
  --dark-secondary-alt: 156, 122, 117;
  --scheme-1-background: 116, 112, 109;
  --scheme-1-foreground: 202, 198, 195;
  --scheme-1-mute: 166, 159, 154;
  --scheme-1-border: 137, 133, 131;
  --scheme-1-link: 202, 198, 195;
  --scheme-1-alpha-link: 0.6;
  --scheme-1-error: 130, 51, 53;
  --scheme-1-warning: 226, 152, 93;
  --scheme-1-success: 113, 163, 150;
  --scheme-1-info: 108, 176, 201;
  --scheme-1-primary: 114, 137, 125;
  --scheme-1-primary-alt: 113, 163, 150;
  --scheme-1-secondary: 156, 122, 117;
  --scheme-1-secondary-alt: 211, 174, 169;
  --scheme-2-background: 182, 177, 171;
  --scheme-2-foreground: 87, 81, 76;
  --scheme-2-mute: 128, 119, 112;
  --scheme-2-border: 158, 152, 144;
  --scheme-2-link: 87, 81, 76;
  --scheme-2-alpha-link: 0.7;
  --scheme-2-error: 206, 81, 85;
  --scheme-2-warning: 203, 137, 84;
  --scheme-2-success: 87, 146, 131;
  --scheme-2-info: 64, 140, 169;
  --scheme-2-primary: 114, 137, 125;
  --scheme-2-primary-alt: 101, 111, 91;
  --scheme-2-secondary: 156, 122, 117;
  --scheme-2-secondary-alt: 175, 116, 120;
  --background-1-background: 253, 253, 252;
  --background-1-foreground: 87, 81, 76;
  --background-1-mute: 153, 145, 138;
  --background-1-border: 212, 212, 191;
  --background-1-link: 87, 81, 76;
  --background-1-alpha-link: 0.85;
  --background-1-error: 206, 81, 85;
  --background-1-warning: 226, 152, 93;
  --background-1-success: 78, 140, 124;
  --background-1-info: 71, 156, 188;
  --background-1-primary: 114, 137, 125;
  --background-1-primary-alt: 78, 140, 124;
  --background-1-secondary: 156, 122, 117;
  --background-1-secondary-alt: 209, 144, 146;
  --inverse-background: 63, 63, 63;
  --inverse-foreground: 253, 253, 252;
  --inverse-mute: 127, 127, 127;
  --inverse-border: 33, 30, 28;
  --inverse-link: 253, 253, 252;
  --inverse-alpha-link: 0.7;
  --inverse-error: 206, 81, 85;
  --inverse-warning: 226, 152, 93;
  --inverse-success: 78, 140, 124;
  --inverse-info: 71, 156, 188;
  --inverse-primary: 114, 137, 125;
  --inverse-primary-alt: 78, 140, 124;
  --inverse-secondary: 156, 122, 117;
  --inverse-secondary-alt: 156, 122, 117;
  --accent-1-background: 114, 137, 125;
  --accent-1-foreground: 253, 253, 252;
  --accent-1-mute: 183, 195, 189;
  --accent-1-border: 91, 109, 100;
  --accent-1-link: 253, 253, 252;
  --accent-1-alpha-link: 0.7;
  --accent-1-error: 206, 81, 85;
  --accent-1-warning: 226, 152, 93;
  --accent-1-success: 155, 172, 163;
  --accent-1-info: 71, 156, 188;
  --accent-1-primary: 114, 137, 125;
  --accent-1-primary-alt: 155, 172, 163;
  --accent-1-secondary: 156, 122, 117;
  --accent-1-secondary-alt: 211, 174, 169;
  --accent-2-background: 156, 122, 117;
  --accent-2-foreground: 253, 253, 252;
  --accent-2-mute: 209, 194, 191;
  --accent-2-border: 129, 97, 93;
  --accent-2-link: 87, 81, 76;
  --accent-2-alpha-link: 0.7;
  --accent-2-error: 206, 81, 85;
  --accent-2-warning: 226, 152, 93;
  --accent-2-success: 188, 199, 193;
  --accent-2-info: 71, 156, 188;
  --accent-2-primary: 114, 137, 125;
  --accent-2-primary-alt: 169, 184, 176;
  --accent-2-secondary: 156, 122, 117;
  --accent-2-secondary-alt: 211, 174, 169;
}

.text-black {
  color: rgb(var(--black)) !important;
}

.text-white {
  color: rgb(var(--white)) !important;
}

.text-offwhite {
  color: rgb(var(--offwhite)) !important;
}

.text-dark {
  color: rgb(var(--dark)) !important;
}

.text-light {
  color: rgb(var(--light)) !important;
}

.text-nero {
  color: rgb(var(--nero)) !important;
}

.text-ink {
  color: rgb(var(--ink)) !important;
}

.text-gritti {
  color: rgb(var(--gritti)) !important;
}

.text-taupe {
  color: rgb(var(--taupe)) !important;
}

.text-taupe-dark {
  color: rgb(var(--taupe-dark)) !important;
}

.text-taupe-light {
  color: rgb(var(--taupe-light)) !important;
}

.text-taupe-lighter {
  color: rgb(var(--taupe-lighter)) !important;
}

.text-clay {
  color: rgb(var(--clay)) !important;
}

.text-leem {
  color: rgb(var(--leem)) !important;
}

.text-mud {
  color: rgb(var(--mud)) !important;
}

.text-pepper {
  color: rgb(var(--pepper)) !important;
}

.text-sand {
  color: rgb(var(--sand)) !important;
}

.text-powder {
  color: rgb(var(--powder)) !important;
}

.text-cream {
  color: rgb(var(--cream)) !important;
}

.text-beige {
  color: rgb(var(--beige)) !important;
}

.text-peach {
  color: rgb(var(--peach)) !important;
}

.text-havanna {
  color: rgb(var(--havanna)) !important;
}

.text-salmon {
  color: rgb(var(--salmon)) !important;
}

.text-blush {
  color: rgb(var(--blush)) !important;
}

.text-sienna {
  color: rgb(var(--sienna)) !important;
}

.text-rose {
  color: rgb(var(--rose)) !important;
}

.text-pale {
  color: rgb(var(--pale)) !important;
}

.text-gold {
  color: rgb(var(--gold)) !important;
}

.color-light {
  --gradient-background: var(--light-background);
  --color-foreground: var(--light-foreground);
  --color-background: var(--light-background);
  --color-mute: var(--light-mute);
  --color-border: var(--light-border);
  --color-link: var(--light-link);
  --alpha-link: var(--light-alpha-link);
  --color-error: var(--light-error);
  --color-success: var(--light-success);
  --color-info: var(--light-info);
  --color-warning: var(--light-warning);
  --color-primary: var(--light-primary);
  --color-primary-alt: var(--light-primary-alt);
  --color-secondary: var(--light-secondary);
  --color-secondary-alt: var(--light-secondary-alt);
  color: rgb(var(--color-foreground));
  background: rgb(var(--color-background));
}

.color-dark {
  --gradient-background: var(--dark-background);
  --color-foreground: var(--dark-foreground);
  --color-background: var(--dark-background);
  --color-mute: var(--dark-mute);
  --color-border: var(--dark-border);
  --color-link: var(--dark-link);
  --alpha-link: var(--dark-alpha-link);
  --color-error: var(--dark-error);
  --color-success: var(--dark-success);
  --color-info: var(--dark-info);
  --color-warning: var(--dark-warning);
  --color-primary: var(--dark-primary);
  --color-primary-alt: var(--dark-primary-alt);
  --color-secondary: var(--dark-secondary);
  --color-secondary-alt: var(--dark-secondary-alt);
  color: rgb(var(--color-foreground));
  background: rgb(var(--color-background));
}

.color-scheme-1 {
  --gradient-background: var(--scheme-1-background);
  --color-foreground: var(--scheme-1-foreground);
  --color-background: var(--scheme-1-background);
  --color-mute: var(--scheme-1-mute);
  --color-border: var(--scheme-1-border);
  --color-link: var(--scheme-1-link);
  --alpha-link: var(--scheme-1-alpha-link);
  --color-error: var(--scheme-1-error);
  --color-success: var(--scheme-1-success);
  --color-info: var(--scheme-1-info);
  --color-warning: var(--scheme-1-warning);
  --color-primary: var(--scheme-1-primary);
  --color-primary-alt: var(--scheme-1-primary-alt);
  --color-secondary: var(--scheme-1-secondary);
  --color-secondary-alt: var(--scheme-1-secondary-alt);
  color: rgb(var(--color-foreground));
  background: rgb(var(--color-background));
}

.color-scheme-2 {
  --gradient-background: var(--scheme-2-background);
  --color-foreground: var(--scheme-2-foreground);
  --color-background: var(--scheme-2-background);
  --color-mute: var(--scheme-2-mute);
  --color-border: var(--scheme-2-border);
  --color-link: var(--scheme-2-link);
  --alpha-link: var(--scheme-2-alpha-link);
  --color-error: var(--scheme-2-error);
  --color-success: var(--scheme-2-success);
  --color-info: var(--scheme-2-info);
  --color-warning: var(--scheme-2-warning);
  --color-primary: var(--scheme-2-primary);
  --color-primary-alt: var(--scheme-2-primary-alt);
  --color-secondary: var(--scheme-2-secondary);
  --color-secondary-alt: var(--scheme-2-secondary-alt);
  color: rgb(var(--color-foreground));
  background: rgb(var(--color-background));
}

:root, .color-background-1 {
  --gradient-background: var(--background-1-background);
  --color-foreground: var(--background-1-foreground);
  --color-background: var(--background-1-background);
  --color-mute: var(--background-1-mute);
  --color-border: var(--background-1-border);
  --color-link: var(--background-1-link);
  --alpha-link: var(--background-1-alpha-link);
  --color-error: var(--background-1-error);
  --color-success: var(--background-1-success);
  --color-info: var(--background-1-info);
  --color-warning: var(--background-1-warning);
  --color-primary: var(--background-1-primary);
  --color-primary-alt: var(--background-1-primary-alt);
  --color-secondary: var(--background-1-secondary);
  --color-secondary-alt: var(--background-1-secondary-alt);
  color: rgb(var(--color-foreground));
  background: rgb(var(--color-background));
}

.color-inverse {
  --gradient-background: var(--inverse-background);
  --color-foreground: var(--inverse-foreground);
  --color-background: var(--inverse-background);
  --color-mute: var(--inverse-mute);
  --color-border: var(--inverse-border);
  --color-link: var(--inverse-link);
  --alpha-link: var(--inverse-alpha-link);
  --color-error: var(--inverse-error);
  --color-success: var(--inverse-success);
  --color-info: var(--inverse-info);
  --color-warning: var(--inverse-warning);
  --color-primary: var(--inverse-primary);
  --color-primary-alt: var(--inverse-primary-alt);
  --color-secondary: var(--inverse-secondary);
  --color-secondary-alt: var(--inverse-secondary-alt);
  color: rgb(var(--color-foreground));
  background: rgb(var(--color-background));
}

.color-accent-1 {
  --gradient-background: var(--accent-1-background);
  --color-foreground: var(--accent-1-foreground);
  --color-background: var(--accent-1-background);
  --color-mute: var(--accent-1-mute);
  --color-border: var(--accent-1-border);
  --color-link: var(--accent-1-link);
  --alpha-link: var(--accent-1-alpha-link);
  --color-error: var(--accent-1-error);
  --color-success: var(--accent-1-success);
  --color-info: var(--accent-1-info);
  --color-warning: var(--accent-1-warning);
  --color-primary: var(--accent-1-primary);
  --color-primary-alt: var(--accent-1-primary-alt);
  --color-secondary: var(--accent-1-secondary);
  --color-secondary-alt: var(--accent-1-secondary-alt);
  color: rgb(var(--color-foreground));
  background: rgb(var(--color-background));
}

.color-accent-2 {
  --gradient-background: var(--accent-2-background);
  --color-foreground: var(--accent-2-foreground);
  --color-background: var(--accent-2-background);
  --color-mute: var(--accent-2-mute);
  --color-border: var(--accent-2-border);
  --color-link: var(--accent-2-link);
  --alpha-link: var(--accent-2-alpha-link);
  --color-error: var(--accent-2-error);
  --color-success: var(--accent-2-success);
  --color-info: var(--accent-2-info);
  --color-warning: var(--accent-2-warning);
  --color-primary: var(--accent-2-primary);
  --color-primary-alt: var(--accent-2-primary-alt);
  --color-secondary: var(--accent-2-secondary);
  --color-secondary-alt: var(--accent-2-secondary-alt);
  color: rgb(var(--color-foreground));
  background: rgb(var(--color-background));
}

.text-primary {
  color: rgb(var(--color-primary));
}

.text-primary-alt {
  color: rgb(var(--color-primary-alt));
}

.text-secondary {
  color: rgb(var(--color-secondary));
}

.text-secondary-alt {
  color: rgb(var(--color-secondary-alt));
}

.wh-drawer {
  --drawer-width: 450px;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  left: -100vw;
  right: auto;
  z-index: 100;
  background: rgb(var(--color-background));
  box-shadow: 0px 0px 30px 0px rgba(82, 63, 105, 0.15);
  transition: all 0.8s;
}
@media (min-width: 750px) {
  .wh-drawer {
    width: var(--drawer-width);
    left: -450px;
  }
}
.wh-drawer--right {
  right: -100vw;
  left: auto;
}
@media (min-width: 750px) {
  .wh-drawer--right {
    width: 450px;
    right: -450px;
    left: auto;
  }
}
.wh-drawer__overlay {
  opacity: 0;
  background: #1e1c1c;
  visibility: hidden;
  z-index: -1;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease;
}
.wh-drawer.shown {
  transform: translateX(100vw);
}
@media (min-width: 750px) {
  .wh-drawer.shown {
    transform: translateX(450px) translateZ(0);
  }
}
.wh-drawer.shown.wh-drawer--right {
  transform: translateX(-100vw);
}
@media (min-width: 750px) {
  .wh-drawer.shown.wh-drawer--right {
    transform: translateX(-450px) translateZ(0);
  }
}
.wh-drawer.shown + .wh-drawer__overlay {
  opacity: 0.5;
  visibility: visible;
  z-index: 14;
}
.wh-drawer__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  padding: 2.4rem;
}
.wh-drawer__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem 1rem 0.5rem;
  color: rgb(var(--color-foreground));
}
.wh-drawer__header.border {
  border-bottom: 1px solid rgb(var(--color-border));
}
.wh-drawer__header__title {
  font-weight: 600;
  margin: 0;
}
.wh-drawer__content {
  overflow-y: auto;
  padding-top: 2.4rem;
  flex-grow: 1;
  -webkit-overflow-scrolling: touch;
}
.wh-drawer__footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem 0.5rem 0 0.5rem;
}
.wh-drawer__footer.border {
  border-top: 1px solid rgb(var(--color-border));
}/*# sourceMappingURL=wildhoff-component-drawer.css.map */